<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/errorhandler.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
